@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.About-Container  {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  justify-content: center;
  border: 1px dotted red;
  font-family: 'Roboto', sans-serif;
}

h1 {
  justify-content: center;
  align-items: center;
}