@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0px;
  transition: 0.4s;
}

.nav-container {
  width: 100%;
  height: 40px;
  background-color: #13D1BD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: 2px dotted red;
}

.nav-container a {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  border: 1px dotted black;
  font-family: 'Roboto', sans-serif;
}

.nav-container a:hover {
  color: #dad8d8;
}

@media (max-width: 600px) {

  .nav-container {
    display: none;
  }

}


  @media (min-width: 600px) {

    .mobile-nav-button {
      display: none;
      }

    }